.navigation {
    /* background-color: rgb(12, 114, 46); */
    display: flex;
    justify-content: space-between;
    padding: 1 em;
}

.navigation ul {
    display: flex;
    padding: 1 em;
}

.navigation li {
    list-style-type: none;
    padding: 1em;
}