.navigation {
	display: flex;
	justify-content: space-between;
	padding: 1 em;
	height: 500px;
}

.navigation ul {
	display: flex;
	padding: 20px 10px;
	align-items: center;
}

.navigation li {
	list-style-type: none;
	padding: 1em;
	text-decoration: none;
	height: 40px;
}

.navigation li:hover {
	background-color: rgb(60, 109, 60);
	color: white;
	padding: 10px 20px;
	border-radius: 25px;
}

a {
	color: white;
	text-decoration: none;
}

.title2 {
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	padding: 1px 30px;
}

.animate__animated.animate__bounceInUp {
	--animate-duration: 2s;
}