.navigation {
    /* background-color: rgb(12, 114, 46); */
    display: flex;
    justify-content: space-between;
    padding: 1 em;
}

.navigation ul {
    display: flex;
    padding: 1 em;
}

.navigation li {
    list-style-type: none;
    padding: 1em;
    text-decoration: none;

}

.navigation li:hover {
    background-color: rgb(60, 109, 60);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}


a {
    color: white;
    text-decoration: none;
}