body * {
	color: #dad7cd;
}

body {
	/* background-image: url('/public/soccerfield3.png'); */
	color: #dad7cd;
	background-color: #3a5a40;
	/* display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr 2fr 1fr; */
	/* height: 100vh;
	width: 100vh; */
	width: auto;
	
}
.container {
	/* background-image: url('/public/soccerfield2.png'); */
	background-color: #588157;
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* border: solid rgb(0, 238, 255) 10px; */
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 100px 1fr 100px;
	grid-template-columns: 1fr 10fr 1fr;
}

.head {
	/* background-image: url('/public/smallfield.png'); */
	background-color: #344e41;
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	/* border: solid rgb(105, 107, 107) 10px; */
	/* padding: 0;
	margin: 0; */
	padding-left: 0;
	width: 100%;
	height: 100%;
	grid-column: 1/span 3;
	grid-row: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.soccer {
	border: solid red 10px;
	grid-row: 1;
	grid-column: 1;
}

.page {
    grid-row: 2;
    grid-column: 2;
}

.list {
	grid-row: 2;
    grid-column: 2;
}

.about-page {
	grid-row: 2;
    grid-column: 2;
}

.color-left {
	background-color: #3a5a40;
	grid-row: 2/span 2;
	grid-column: 3/span 2;
}

.color-right {
	background-color: #3a5a40;
	grid-row: 2/span 2;
	grid-column: 1;
}